
* {
 box-sizing: border-box;
 margin: 0px;
 padding: 0px;
}

body{
 font-size: medium;
 font-family: 'Poppins', sans-serif;

}

img {
 width: 100%;
 height: auto;
}

.section {
 width: 700px;
 height: 80vh;
 background-color: #f3f3f3;
}

