
* {
 box-sizing: border-box;
 margin: 0px;
 padding: 0px;
}

body{
 font-size: medium;
 font-family: 'Poppins', sans-serif;

}

img {
 width: auto;
 height: 100%;
 border-radius: 10px;
}

p {
     font-size: 14px;
    margin-bottom: 10px;
}

a {
 color: #0e0e0e;
}

h1 {
     font-size: 25px;
    margin-bottom: 10px;
}
.section {
 width: 600px;
 height: 100vh;
 background-color: #f3f3f3;
 margin-left:auto;
 margin-right: auto;
 border-radius: 20px;
 margin-top: 20px;
 border-radius: 20px;
 /* overflow-x: hidden;
 overflow-y: auto; */
}

.header {
 height: 90px;
 width: auto;
 justify-content: center;
 align-items: center;
 background-color: rgb(219, 121, 121);
 color: #110b0b;
 display: flex;
 border-radius: 10px 10px 0 0;
}

.header > img {
 width: 50px;
 height: auto;
 margin-right: 20px;
}

.place_card {
 display: flex;
 background-color:aliceblue;
 margin: 10px;
 padding: 10px;
 height:auto;
}
.image_div{
 width: 180px;
 height: 200px;
 border-radius: 20px;
 margin-right: 20px;
}

p > img {
 width: 12px;
 height:auto;
}

.date {
 font-weight:600;
}

@media screen and (max-width: 599px ) {
 .section {
 width: 100vw;
 height: 100vh;
 }
}