
* {
 box-sizing: border-box;
 margin: 0px;
 padding: 0px;
}

body{
 font-size: medium;
 font-family: 'Poppins', sans-serif;

}

img {
 width: 100%;
 height: auto;
}

.section {
 width: 700px;
 height: 95vh;
 background-color: #f3f3f3;
 margin-left:auto;
 margin-right: auto;
 border-radius: 20px;
 margin-top: 20px;
 overflow-x: hidden;
 overflow-y: auto;
}

.header {
 height: 90px;
 width: 100%;
 justify-content: center;
 align-items: center;
 background-color: rgb(219, 121, 121);
 color: #110b0b;
 display: flex;
}

.header > img {
 width: 50px;
 height: auto;
 margin-right: 20px;
}


